/* Global Colors */
/*button Colors */
/* Home Page - step 1 */
/* Home Page - Step 2 Colors */
/*Home Page - Step 3 Colors*/
/* mobile text background */
/* Colors */
/* Gradient Colors */
/* Media Quieries */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  color: black;
  background-color: #ecedee;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  color: black;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
}
a:hover {
  color: red;
}
.textContainer {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  text-align: justify;
  justify-content: flex-start;
  width: 40%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*Home Page*/
.navBar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  z-index: 1;
}
@media (max-width:970px) {
  .navBar {
    background: none;
    position: relative;
  }
}
@media (max-width:501px) {
  .navBar {
    background: none;
    position: absolute;
  }
}
.navContain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem auto;
  padding: 0 5%;
}
@media (max-width:970px) {
  .navContain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navContain .navButtons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width:501px) {
  .navContain .navButtons {
    visibility: hidden;
  }
}
.navContain a {
  padding: 0 2rem;
}
.logo {
  width: 20%;
}
@media (max-width:501px) {
  .logo {
    width: 40%;
  }
}
.splash {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.splash img {
  max-width: 100%;
}
.splash .CTA {
  position: absolute;
  width: 30%;
  text-align: center;
}
@media (max-width:501px) {
  .splash .CTA {
    width: 95%;
    padding: 1%;
    background: #fffdfdad;
    border-radius: 5px;
    margin: 8% 0;
  }
}
.splash .buttonSpace {
  margin: 9% auto;
}
.splash .getApp {
  font: inherit;
  font-size: 2rem;
  color: black;
  background: #B68F40;
  width: 30%;
  padding: 3% 8%;
  border-radius: 5px;
  font-weight: bold;
}
.splash .getApp:hover {
  background: #B6CCA1;
  color: black;
  border: 1px solid black;
}
.foot {
  text-align: center;
  background-color: #30011E;
  color: #ecedee;
}
.one {
  display: flex;
  position: relative;
  background: #545454;
  max-width: 100%;
}
.one .stepOneBG {
  margin: 0 auto;
}
.one .stepOneBG img {
  width: 100%;
}
@media (max-width:501px) {
  .one .stepOneBG img {
    visibility: hidden;
  }
}
.one .bigOneImg {
  position: absolute;
  margin-top: 10%;
  margin-left: 18%;
}
@media (max-width:501px) {
  .one .bigOneImg {
    margin: 0;
  }
}
.one .oneSVG {
  position: relative;
  display: flex;
  width: 300%;
  justify-content: flex-end;
  opacity: 0.9;
}
@media (max-width:501px) {
  .one .oneSVG {
    transform: rotate(90deg);
    width: 200%;
    opacity: 1;
  }
}
@media (max-width:501px) {
  .one .textContainerOne {
    align-self: center;
  }
}
.one .txtOne {
  position: absolute;
  margin-top: 10%;
  margin-left: 34%;
  z-index: 1;
}
@media (max-width:501px) {
  .one .txtOne {
    width: 95%;
    padding: 1%;
    background: #fffdfdad;
    border-radius: 5px;
    position: initial;
    margin: 5% auto;
    padding: 2%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  }
}
.one a {
  font: inherit;
  font-size: 2rem;
  color: black;
  background: #B68F40;
  width: 30%;
  padding: 3% 8%;
  border-radius: 5px;
  font-weight: bold;
  margin: 4rem 0;
}
.one a:hover {
  background: #B6CCA1;
  color: black;
  border: 1px solid black;
}
.two {
  position: relative;
  display: flex;
  flex-direction: row;
  background: #B6CCA1;
  padding: 5rem 8rem 0;
  width: 100%;
  z-index: 2;
}
@media (max-width:501px) {
  .two {
    width: 100%;
    padding: 0;
    justify-content: center;
  }
}
.two .containerTwo {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.two .stepTwoImage img {
  width: 60%;
  position: relative;
  z-index: 3;
}
@media (max-width:501px) {
  .two .stepTwoImage img {
    margin: 0;
    visibility: hidden;
  }
}
.two .bigTwoImg {
  position: absolute;
  width: 15%;
  margin-left: 78%;
}
@media (max-width:501px) {
  .two .bigTwoImg {
    position: initial;
    overflow: auto;
    margin: 0;
    width: 150%;
    transform: rotate(0deg);
  }
}
.two .bigTwoSVG {
  transform: rotate(90deg);
  min-width: 100%;
  z-index: 5;
}
@media (max-width:501px) {
  .two .bigTwoSVG {
    position: initial;
    transform: rotate(0deg);
  }
}
.two .txtTwo {
  width: 60%;
  margin-left: 10%;
  margin-top: 5%;
}
@media (max-width:501px) {
  .two .txtTwo {
    position: initial;
    margin: 0;
  }
}
.three {
  background-color: #30011E;
  color: #ecedee;
  width: 100%;
  z-index: 1;
}
.three .stepThreeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
@media (max-width:501px) {
  .three .stepThreeContainer {
    flex-flow: column nowrap;
  }
}
.three .textContainerLeft {
  width: 30%;
  margin: 0 auto;
}
@media (max-width:501px) {
  .three .textContainerLeft {
    width: 100%;
  }
}
.three .bigThreeImg {
  width: 15%;
  margin: 0 auto;
}
@media (max-width:501px) {
  .three .bigThreeImg {
    float: right;
  }
}
.three .textContainerRight {
  width: 30%;
  margin: 0 auto;
}
@media (max-width:501px) {
  .three .textContainerRight {
    width: 100%;
  }
}
/* About Page */
.navBar {
  position: initial;
}
html {
  background: url(../img/About\ Photos/AboutBG1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about--us {
  display: flex;
  width: 100%;
  padding: 0 5%;
  margin: 4% auto;
  align-content: center;
  justify-content: center;
}
.about--us p {
  padding: 0 2%;
}
.about--team {
  padding: 0 5%;
  display: flex;
}
@media (max-width:501px) {
}
.about--team img {
  width: 100%;
}
/*Login Page */
/* Bordered form */
.formWrap {
  padding: 15%;
  margin: 0 auto;
  width: 70%;
  /* Full-width inputs */
  /* Set a style for all buttons */
  /* Extra style for the cancel button (red) */
  /* Add padding to containers */
  /* under Login spacing */
  /* Change styles for span and cancel button on extra small screens */
}
@media (max-width:970px) {
  .formWrap {
    padding: 0;
  }
}
@media (max-width:501px) {
  .formWrap {
    width: 100%;
    padding: 15% 2%;
  }
}
.formWrap .loginForm {
  font: inherit;
  font-size: 2rem;
  color: black;
  border: 3px solid black;
}
.formWrap input[type=text],
.formWrap input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.formWrap button {
  font: inherit;
  font-size: 2rem;
  color: black;
  background-color: #30011E;
  color: #ecedee;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 80%;
  align-self: center;
}
.formWrap button:hover {
  opacity: 0.8;
  background-color: #B6CCA1;
}
.formWrap .cancelbtn {
  width: 80%;
  padding: 10px 18px;
  background-color: #f44336;
}
.formWrap .container {
  padding: 5%;
}
.formWrap .underLogin {
  display: flex;
  justify-content: space-between;
}
@media (max-width:501px) {
  .formWrap span.psw {
    display: block;
    float: none;
  }
  .formWrap button {
    width: 100%;
  }
  .formWrap .cancelbtn {
    width: 100%;
  }
}
