.about--team{
    padding:10% 5%;
    display:flex;

    // background: url("../img/Back-splash-1.png")
    // width:100%;

    @media @mobile{
        padding:25% 2%;
    }
    
    img{
        width:100%;
    }


}
