.navBar{
    position:initial;
}


html { 
    background: url(../img/About\ Photos/AboutBG1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.about--us{
    display: flex;
    width:100%;
    padding:0 5%;
    margin: 4% auto;
    align-content: center;
    justify-content: center;

    p{
        padding:0 2%;
    }


}


.about--team{
    padding:0 5%;
    display:flex;

    // background: url("../img/Back-splash-1.png")
    // width:100%;

    @media @mobile{
        // padding:25% 2%;
    }
    
    img{
        width:100%;
    }


}
