
.splash {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    img {
        max-width: 100%;
        // min-width: 1200px;

        // @media @mobile {
        //     overflow: hidden;
        //  min-width: 800px;   
        // }
    }

    .CTA {

        position: absolute;
        width: 30%;
        text-align: center;
        // margin-bottom: 20%;

        @media @mobile{
            .mobileTextStyle;
            margin:8% 0;
            // width:95%;
            // padding: 1%;
            // background:@mobile-bg;
            // border-radius: 5px;
            // background: red;
        }
    
    }

    .buttonSpace {
        // border:1px solid red;
        margin: 9% auto;
    }

    .getApp {
        .buttonStyle;
        .wobbleKey();
        .wobbleAnimation();

    }
}


    .foot{
        text-align: center;
        background-color: @step-three-bg;
        color: @step-three-font;
    }