#homeNav {
    //Fixed menu for home page only!

    background: none;
    position: fixed;
}

.container {
    box-sizing: border-box;
}

.splash {
    background-color: @step-one-bg;
    background-image: url('../img/Back-splash-1.png');

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20% 20%;
    height: auto;

    @media @tablet {
        padding: 20% 5%;
    }



    .cta {
        background: @shell-transparent;
        border-radius: 5px;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 2% 8% 4%;
        height: auto;


        @media @tablet {
            background: none;
            margin-top: 5%;
            padding: 0;

        }
    }

    #ctaText {
        text-align: center;
        width: 90%;
        padding: 5%;
    }

    #getApp {
        .buttonStyle();
        width: 100%;
        padding: 5px 20px;
    }
}

/* step one styling */

.one {
    background: @step-one-bg;
    background-image: url('../img/step\ 1/Step-1-background.png');
    background-repeat: no-repeat;
    background-size: 120%;
    // width:100%;

    @media @web {
        background-image: url('../img/step\ 1/Step-1-background-nophone.png');
        background-size: 180%;
        background-position: center;
    }

    @media @webSmaller {
        background-size: auto;
        background-position: bottom center;
    }


    .sectionOneWrap {
        display: flex;
        flex-direction: row nowrap;
        justify-content: flex-end;
        padding: 2% 5%;
        margin: 0 auto;

        @media @web {
            justify-content: flex-start;
        }

        @media @webSmaller {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }

    .textContainerOne {
        padding: 5%;
        width: 60%;
        line-height: 1.4;


        @media @mobile {
            width: 100%;
        }

    }

    #oneSVG {
        //Large One on first instruction row
        width: 100%;
        transform: rotate(-90deg);

        @media @web {
            transform: rotate(0);
        }

        @media @mobile {
            display: none;
        }
    }


    #stepOneButton {
        .buttonStyle();
        width: 100%;
        padding: 5px 20px;
    }

}

/* step Two Styling */

.two {
    box-sizing: border-box;
    background: @step-two-bg;
    background-image: url('../img/SVGNumbers/two.svg');
    background-repeat: no-repeat;
    background-position: right;


    .containerTwo {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-items: space-between;
        // position: absolute;
    }

    .textContainerTwo {
        padding: 2%;
        margin: 5%;
    }

    .stepTwo Image {
        position: absolute;
        z-index: 4;
        padding: 1% 1% 0;

    }

    #ipad {
        width: 70%;

        @media @tablet {
            display: none;
        }
    }


    // .bigTwoImg{
    //     position: relative;
    //     z-index: 3;
    //     margin-right:40%;
    // }

    // #twoSVG {
    //     // transform: rotate(90deg);
    //     width: 300%;
    // }



}

/* Step Three Styling */

.three {
    background: @step-three-bg;
    background-image: url('../img/Step\ 3/step-3-background.jpg');
    background-position: bottom right;
    color: @step-three-font;


    h1 {
        color: @step-three-font;

    }

    .stepThreeContainer {
        display: flex;
        flex-flow: Row nowrap;
        align-items: center;
        justify-content: space-around;

        padding: 2%;
    }

    #threeSVG {
        width: 100%;
    }

    .textWrap {
        display: flex;
        justify-content: center;
    }

    .textBox {
        width: 70%;
        text-align: center;
    }

    .textBox p {
        padding: 10px;
    }
}