/* Colors */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  color: black;
  background-color: #ecedee;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  color: black;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
}
a:hover {
  color: red;
}
.navBar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  z-index: 1;
}
.navContain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem auto;
  padding: 0 5%;
}
.navContain .navButtons {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navContain a {
  padding: 0 2rem;
}
.logo {
  width: 20%;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.splash {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.splash img {
  max-width: 100%;
}
.splash .CTA {
  position: absolute;
  width: 30%;
  text-align: center;
}
.splash .buttonSpace {
  margin: 3rem;
}
.splash .getApp {
  font: inherit;
  font-size: 2rem;
  color: black;
  background: #B68F40;
  width: 30%;
  padding: 1rem 3rem;
  border-radius: 10px;
}
.splash .getApp:hover {
  background: #B6CCA1;
  color: black;
  border: 1px solid black;
}
.foot {
  text-align: center;
  background-color: #30011E;
  color: #ecedee;
}
.textContainer {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  text-align: justify;
  justify-content: flex-start;
  width: 40%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.one {
  display: flex;
  background: #B6CCA1;
  max-width: 100%;
  padding: 0 0 1rem;
  z-index: 2;
}
.one .stepOneBG {
  margin: 0 auto;
}
.one .stepOneBG img {
  width: 100%;
}
.one .oneSVG {
  display: flex;
  width: 300%;
  justify-content: flex-end;
  opacity: 0.9;
  overflow: hidden;
}
.one .bigOneImg {
  position: absolute;
  margin-top: 10%;
  margin-left: 20%;
}
.one .txtOne {
  margin-top: 15%;
  margin-left: 30%;
}
.one a {
  font: inherit;
  font-size: 2rem;
  color: black;
  background: #B68F40;
  width: 30%;
  padding: 1rem 3rem;
  border-radius: 10px;
  margin: 4rem 0;
}
.one a:hover {
  background: #B6CCA1;
  color: black;
  border: 1px solid black;
}
.two {
  display: flex;
  flex-direction: row;
  background: #B6CCA1;
  padding: 5rem 8rem 0;
  width: 100%;
  z-index: 2;
}
.two .stepTwoImage img {
  width: 60%;
  margin-left: 100%;
}
.two .bigTwoImg {
  width: 15%;
  margin-left: 31%;
  z-index: 2;
}
.two .bigTwoSVG {
  transform: rotate(90deg);
  min-width: 100%;
}
.two .txtTwo {
  margin-left: 10%;
  margin-top: 5%;
  overflow: hidden;
}
.three {
  background-color: #30011E;
  color: #ecedee;
  width: 100%;
  z-index: 1;
}
.three .stepThreeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.three .textContainerLeft {
  width: 30%;
  margin: 0 auto;
}
.three .bigThreeImg {
  width: 15%;
  margin: 0 auto;
}
.three .textContainerRight {
  width: 30%;
  margin: 0 auto;
}
