.container{
    // width:100%;
    margin:0 auto;
    padding:0 5rem;

}

.splash{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    img{
        width:1900px;
      }


    .splashHolder{
        // border: 1px solid red;
        display:flex;
        width:100%;
        padding: 0;
        
    }

    .CTA{
        
        position: absolute;
        width: 30%;
        text-align: center;
    }

    a{
        .buttonStyle;
        margin: 20rem auto;

    }
}


