
.splash {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    img {
        max-width: 100%;
    }

    .CTA {

        position: absolute;
        width: 30%;
        text-align: center;
        // margin-bottom:20rem;

        @media @mobile{
            width:95%;
            padding: 1%;
            background:@mobile-bg;
            border-radius: 5px;
        }
    
    }

    .buttonSpace {
        // border:1px solid red;
        margin: 3rem;
    }

    .getApp {
        .buttonStyle;
        .wobbleKey();
        .wobbleAnimation();

    }
}


    .foot{
        text-align: center;
        background-color: @step-three-bg;
        color: @step-three-font;
    }