.navBar{
    position: fixed;
    width:100%;
    margin: 0 auto;
    display: flex;
    background:@nav-bg;
    
    
    
}

.navContain{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin:2rem auto;
    padding: 0 5%;

    .navButtons{
        width:auto;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    a{
        padding: 0 2rem;
    }

}


.logo{
    width:20%;
}